SECRET = mysecret

DATABASE_USERNAME = {{Username for MySQL database (press return for default [])?|=ENV[DATABASE_USERNAME]|alexa}}
DATABASE_PASSWORD = {{Password for MySQL database (press return for default [])?|=ENV[DATABASE_PASSWORD]|alexa}}

MAILER_USERNAME = ~
MAILER_PASSWORD = ~



