SECRET = mysecret

DATABASE_USERNAME = {{Username for MySQL database (press return for default [])?|=ENV[DATABASE_USERNAME]|bricks}}
DATABASE_PASSWORD = {{Password for MySQL database (press return for default [])?|=ENV[DATABASE_PASSWORD]|bricks}}

MAILER_USERNAME = ~
MAILER_PASSWORD = ~



