{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.html.twig" %}

{% block content %}
	<p>
		Toll, dass du dich für alexa.20steps.de registrieren möchtest. Wir freuen uns auf dich! Jetzt nur noch auf den folgenden Link klicken und du bist dabei: <br />
		<a href="{{ activationUrl }}" target="_blank">{{ activationUrl }}</a>
	</p>
	<p>
		Falls der Link nicht funktioniert, kopiere ihn einfach direkt in die Adresszeile oben in deinen Browser ein.
	</p>
	<p>
		Hinweis: Falls du diese E-Mail versehentlich erhalten hast, entschuldige bitte. Du kannst sie einfach löschen und wirst auf jeden Fall keine weitere E-Mail von uns erhalten.
	</p>
{% endblock %}