{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.html.twig" %}

{% block content %}
	<p>
		Click the following link to reset your password.
	</p>

	<p>
		<a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
	</p>

{% endblock %}