{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.b2c.html.twig" %}

{% block content %}
	<p>
		Bitte bestätige das Zurücksetzen deines Passwortes durch Aufruf der folgenden Adresse in deinem Browser, oder
		einem Klick auf den untenstehenden Link.
	</p>

	<p>
		<a href="{{ resetPasswordUrl }}">Bestätigen</a><br />
		oder <br />
		{{ resetPasswordUrl }} aufrufen
	</p>
{% endblock %}