{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.html.twig" %}

{% block content %}
	<p>
		Bitte bestätige das Zurücksetzen Deines Passwortes durch Klick auf den untenstehenden Link.
	</p>

	<p>
		<a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
	</p>

	<p>
		Falls der Link nicht funktioniert, kopiere ihn einfach direkt in die Adresszeile oben in Deinem Browser.
	</p>

	<p>
		Hinweis: Falls du diese E-Mail versehentlich erhalten hast, entschuldige bitte. Du kannst sie einfach löschen und wirst auf jeden Fall keine weitere E-Mail von uns erhalten.
	</p>

{% endblock %}