{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.html.twig" %}

{% block content %}

    <p>Welcome at the 20steps Alexa skill.</p>

    <p>Visit <a href="https://alexa.20steps.de">alexa.20steps.de</a> to personalize the skill.</p>

{% endblock %}