{% extends "BricksCustomTwentystepsAlexaBundle:mails:layout.html.twig" %}

{% block content %}

    <p>Willkommen beim 20steps Alexa Skill.</p>

    <p>Besuche jetzt <a href="https://alexa.20steps.de">alexa.20steps.de</a> um den Skill an Deine Bedürfnisse anzupassen.</p>

{% endblock %}