# Symfony standard framework edition

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/**
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/media

# Bricks platform specific
.idea
.DS_Store
*~

bin/vendor
bin/vendor/**

bin/.wp/vendor
bin/.wp/vendor/**

/var/pids/*
!var/pids/.gitkeep

/var/solr/*
!var/solr/.gitkeep

!/var/uploads
/var/uploads/*
!var/uploads/.gitkeep

!/var/pids/
/var/pids/*
!var/pids/.gitkeep

!/var/solr/
/var/solr/*
!var/solr/.gitkeep

!/var/dump/
/var/dump/*
!var/dump/.gitkeep

!/var/bower/
/var/bower/*
!var/bower/.gitkeep

/var/ftp
/var/ftp/*

etc/system/solr/cores/*
etc/system/solr/cores/

# sf2 assets
web/bundles/**
web/css/**
web/js/**
web/assetic/**
web/custom

# wordpress specifics
web/wp-content/uploads