<VirtualHost *:80>

    ServerAlias SERVER_ALIAS

    DocumentRoot WEB_PATH

    ErrorLog /var/log/apache2/INTERIM_NAME.error.log
    CustomLog /var/log/apache2/INTERIM_NAME.access.log combined

    RewriteEngine on

    <Directory WEB_PATH>
        Options Indexes FollowSymLinks
        AllowOverride All
        Allow from All
    </Directory>

</VirtualHost>