<!DOCTYPE html>
<html>

    <head>

        <title>20steps Alexa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/brickscustomtwentystepsalexa/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/brickscustomtwentystepsalexa/css/alexa.css') }}" rel="stylesheet" media="screen">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>

    <body>
        {% block content %}
            No content yet
        {% endblock %}
        <script src="{{ asset('bundles/brickscustomtwentystepsalexa/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/brickscustomtwentystepsalexa/js/bootstrap.js') }}"></script>
    </body>

</html>