{% extends "BricksCustomTwentystepsAlexaBundle:layout:layout.html.twig" %}

{% block content %}

    <div>{{ message }}</div>

    <div><a href="{{ path('bricks.custom.twentysteps_alexa.user.logout') }}">logout</a></div>
{% endblock %}