{% extends "BricksCustomTwentystepsAlexaBundle:layout:layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div id="logo-container"></div>
                <div class="col-sm-12 col-md-10 col-md-offset-1" style="background-color:white; padding: 25px 25px 25px 25px; color: black">
                    <form action="{{ path('bricks.custom.twentysteps_alexa.user.alexa.check') }}" method="post">
                        <label style="margin-bottom: 15px; width: 100%">20steps Konto verknüpfen <span class="glyphicon glyphicon-info-sign icon-info pull-right" aria-hidden="true" data-toggle="popover" data-placement="left" title="Alexa&nbsp;Konto&nbsp;verknüpfen" data-content="Verknüpfen Sie Ihr 20steps Konto mit Alexa um den Skill an Ihren Bedarf anpassen zu können. Wenn Sie noch keinen Account bei 20steps haben, klicken Sie auf registrieren."></span></label>
                        <div class="form-group">
                            <label for="username">E-Mail Adressse</label>
                            <input type="text" class="form-control" id="username" name="_username" placeholder="E-Mail Adresse">
                        </div>
                        <div class="form-group">
                            <label for="password">Passwort</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Passwort">
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'Login'|trans({},'core') }}</button>
                        <a style="text-align: right; float: right; margin-top: 8px;" href="{{ path('bricks.custom.twentysteps_alexa.user.alexa.register') }}">{{ 'Register'|trans({},'core') }}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}